body {
    margin: 0;
    overflow: hidden;
    font-family: 'Mukta Mahee';
}

.upper_mainContainer{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
    url('images/background.jpeg');
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.logo {
    padding-left: 50px;
    position: absolute;
    color: white;
    font-size: 35px;
    font-weight: 900;
}

.left-card {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 23%;
    width: 75%;
    height: 80%;
    background: rgba(0, 0, 0, 0.6);
    border: 0.2mm solid white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
}

.left-card:first-child {
    color: white;
    font-size: 20px;
}

form {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    height: 45%;
    text-align: center;
}

input[type="search"] {
    font-family: 'Mukta Mahee';
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    display: block;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: transparent;
    background: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    padding: 8px;
    padding-left: 20px;
}

input[type="search"]::placeholder {
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;
}

button {
    border: none;
    border-radius: 5px;
    font-family: 'Mukta Mahee';
    margin: 15px;
    font-size: 14px;
    width: 150px;
    height: 40px;
    color: white;
    background: rgba(214, 102, 28, 0.8);
    transition-duration: 1s;
}

button:hover {
    background: rgba(0, 0, 0, 0.8);
}

input[type="search"]:focus {
    outline: 2px solid rgba(0, 0, 0, 0.8);
}

#search-title {
    font-size: 85px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

ul {
    list-style: none; 
  }
  
  ul li::before {
    content: "\2022"; 
    color: #F78032; 
    font-weight: bold; 
    font-size: 25px;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
  }